# Set LLM Provider
LLM_PROVIDER=openai # gemini | openai | openrouter
CUSTOM_PROVIDER=opencode # opencode | nvidia | None

# Tavily Web Search
TAVILY_API_KEY=tavily-api-key

# Google Gemini
GOOGLE_MODEL=gemini-model-name
GOOGLE_API_KEY=gemini-api-key
GOOGLE_CLOUD_PROJECT=google-cloud-project-id
GOOGLE_CLOUD_LOCATION=google-cloud-location
GOOGLE_APPLICATION_CREDENTIALS=google-vertex-credential-path

# OpenAI
OPENAI_MODEL=openai-model-name
OPENAI_API_KEY=openai-api-key

# OpenRouter
OPENROUTER_MODEL=openrouter-model-name
OPENROUTER_API_KEY=openrouter-api-key

# OpenCode
OPENCODE_MODEL=opencode-model-name
OPENCODE_API_KEY=opencode-api-key
OPENCODE_BASE_URL=opencode-base-url

# NVIDIA
NVIDIA_MODEL=nvidia-model-name
NVIDIA_API_KEY=nvidia-api-key
NVIDIA_BASE_URL=nvidia-base-url