# ====================================
# IDE & Editor
# ====================================
.vscode/

# ====================================
# Python
# ====================================
__pycache__/
.venv/

# ====================================
# Environment Variables
# ====================================
.env

# ====================================
# Directories
# ====================================
LOGS/
frontend-old/


# ====================================
# TEMPS
# ====================================
scripts/
tests/