# ====================================
# IDE & Editor
# ====================================
.vscode/

# ====================================
# Python
# ====================================
__pycache__/
.venv/

# ====================================
# Environment Variables
# ====================================
.env

# ====================================
# Logs
# ====================================
LOGS/